@font-face {
  font-family: "Ubuntu";
  src: url("../styles/fonts/ubuntu-v15-latin_cyrillic-regular.woff2")
      format("woff2"),
    url("../styles/fonts/ubuntu-v15-latin_cyrillic-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-family: "Ubuntu";
  font-size: 62.5%;
}
body {
  background-color: cadetblue;
}
